@charset "UTF-8";
a{ text-decoration: none; color: #000; }
.d-none{ display: none; }
p,h3,h4,h5,h6{ margin:0; padding: 0; }
body{
	font-family: "Noto Sans KR";
	color: #666;
	overflow-y: scroll;
}
.main_wrap{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#container.ct_top{
	padding-top: 80px;
}
#container{
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: left; 
}
#contet_area{
	float: none;
	width: 1200px;
	min-height: 750px;
}
ol,ul,li{
	list-style: none;
}
.contet_body{
	padding-left: 15px;
	overflow: hidden;
}
.join-normal{
	margin-bottom: 30px;
}
form{
	padding: 0;
	margin: 0;
}
.box_title{
	color: #2d2d2d;
	font-size: 16px;
	font-weight: 700;
	margin: 25px 0 5px 0;
}
.box_tx{
	margin: 0 0 15px 0;
}
.gray_box{
	border: 1px solid #dcdcdc;
	background-color: #fafafa;
	padding: 13px 15px;
	margin-bottom: 20px;
}
.gray_box.top{
	border-top: 1px solid #676767;
}
.gray_box .box_stitle{
	font-weight: 700;
	font-size: 13px;
	color: #464646;
	margin-bottom: 8px;
}
.g_box_in{
	border: 1px solid #dbdbdb;
	background-color: #fff;
	height: 100px;
	overflow: auto;
	padding: 14px 10px;
	margin-bottom: 10px;
}
.textin{
	font-size: 14px;
	font-weight: normal;
	line-height: 25px;
}
.textin > .clause{
	margin-top: -20px;
}
.textin > .clause h3{
	font-size: 14px;
	font-weight: normal;
	color: #666666;
	line-height: 25px;
	padding: 0;
	margin: 10px 0 0 0;
}
.path{
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	font-size: 15px;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	top: 40px;
}
.lnb_title{
	display: block;
    font-weight: bold;
    font-size: 35px;
    color: #000;
    background: none;
    height: 35px;
    margin-bottom: 40px;
    line-height: 100%;
    text-align: center;
    border: none;
    letter-spacing: -0.07em;
}
.lnb_list {
    width: auto;
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
}
/*수정중 */
.lnb_list li{
	border: 1px solid #000;
	border-radius: 50px;
	padding: 10px 30px 10px;
	margin-right: 10px; 
}
.on{
	background: #000;
}
.on a{
	color: #fff;
}
.content_title{
	/* display: block; */
	display: none;
	text-align: center;
	font-family: "noto_sans",sans-serif;
	color: #000;
	font-size: 30px;
	line-height: 35px;
	padding: 0;
	margin: 0 0 20px;
	letter-spacing: -0.07em;
	font-weight: bold;
}
.path_list li.last {
    color: #222;
}
.path_list:before {
    content: '홈';
}
.path_list li:before {
    content: '-';
}
.path_list {
    float: none;
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 1200px;
    background: none;
    padding-left: 0px;
    box-sizing: border-box;
}
.board.btn {
    margin-top: 20px;
    text-align: center;
}
.button{
	padding: 10px 40px 10px;
	width: 200px;
}
.button.gray {
    background: #333;
    color: #fff;
    border: 1px #333 solid;
}
.button.white {
    background: #fff;
    color: #333;
    border: 1px #333 solid;
}
.depth1{
	margin: 0px;
}
.depth2{
	margin: 0px;
}
.login_box{
	border: none;
	width: 100%;
	max-width: 450px;
	margin: 50px auto;
	padding: 0;
	overflow: hidden;
}
.log_form{
	border-right: 1px solid #e0e0e0;
	float: none;
	padding-right: 0;
	width: 100%;
	padding-bottom: 10px;
}
.log_tt{
	margin: 0px 0 30px 0px;
	font-size: 15px;
}
.log_area{
	overflow: hidden;
}
.log_in{
	width: 100%;
	float: none;
}
.log_in div{
	height: 40px;
	margin-bottom: 7px;
}
.log_in div input{
	vertical-align: middle;
	height: 40px;
	width: 100%;
	line-height: 40px;
	padding: 2px 0 1px 6px;
}
input[type=text], input[type=password]{
	box-sizing: border-box;
	border: 1px solid #cccccc;
}
.button.login{
	width: 100%;
	padding: 0;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}
.log_find{
	float: none;
	padding: 22px 0 0 0;
	width: 100%;
}
.log_find p{
	float: left;
	width: 55%;
	font-weight: 500;
	letter-spacing: -0.03em;
	font-size: 15px;
	margin: 0 0 20px 0;
}
.log_find input{
	float: left;
	width: 45%;
	margin: 0 0 20px 0;
}